.keyboard-container {
	position: absolute;
	bottom: 0;
	min-width: 100% !important;
	margin-bottom: 5vh;
}

.keyboard-key {
	width: 45px;
	height: 45px;
	margin: 3px;
	font-weight: 700;
}

.keyboard-key-wide {
	width: 75px;
}

.keyboard-key-full {
	width: 20%;
}
